hl{
    color: rgb(36, 36, 109);
    font-family: 'time new roman', times, serif;
    font-size: 60px;
    text-align:center;
    margin-left: 25px;
}

body{
    background-color: rgb(141, 175, 86);
}

.caixa{
    position: relative;
    margin-top:0px auto;
}

header{
    background-color: antiquewhite;
}

nav li{
    display:inline;
    margin-right: 30px;
    margin-left: 30px;
    text-align: center;
    }
    
nav a{ 
    text-transform: uppercase;
    color:blueviolet;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    text-align: right;
}

nav a:hover{
 color: red;
 display:inline;
 text-decoration: underline;
 width: 20%;
}

nav{
    text-align: center;
    position: absolute;
    top: 200px;
    right: 0px;
}

.logo{
    width: 12%;
    border-color: black;
    border-radius: 10px;
    border-style: groove;
    border-width: 30px;
    width: 200px;
}

.servicos{
    width: 940px;
}

.servicos li{
display: inline-block;
text-align: center;
width: 30%;
vertical-align: top;
margin: 0 1.5%;
padding: 30px 0px;
box-sizing: border-box;
border: 2px solid brown;
border-radius: 10px;
}

.servico li:hover{
    color: red;
}

.servico li:hover h2{
    font-size: 34px;
    color: red
}

.servico li:active{
    border-color: brown;
    border-width: 4px;
}

.servicos img{
width: 200px;
height: 200px;
}

.descricao{
font-size: 18px;
}

.preco{
font-size: 22px;
font-weight: bold;
margin-top: 10px;
}

footer{
    text-align: center;
    background-color: antiquewhite;
}

footer img{
    width: 10%;
}

.copiao{
    font-size: 10px;
}